.home {
  .home-hero {
    .orbit {
      .orbit-caption {
        bottom: 50%;
        transform: translateY(50%);
        text-align: center;
        background-color: transparent;
      }
    }
  }
}

.home-intro {
  width: 70%;
  margin: 0 auto;
  max-width: 50rem;
  
  p {
    padding: 0 5rem;
  }
}

.home-categories-container {
  margin-top: 2rem;
  background: linear-gradient(45deg, white, rgba(235, 240, 245, 1.00));
}

@supports (display: grid) {
  .home-categories-container {
    
  }
}