.home {
  .home-hero {
    .orbit {
      .orbit-caption {
        bottom: 50%;
        transform: translateY(50%);
        text-align: center;
        background-color: transparent;
      }
    }
  }
}

.home-intro {
  width: 80%;
  margin: 0 auto;
  max-width: 50rem;
}
