html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $body-font-family;
  font-style: normal;
}

body {
  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: $text-links;
  border-bottom: solid 1px $text-links-light;
  
  &:visited {
    color: $text-links-light;
  }
}

p {
  font-size: $size-base;
}

h1 {
  font-family: $header-font-family;
  font-size: $size-large;
  line-height: 1;
  
  @media screen and (min-width: $screen-medium) {
    font-size: $size-xlarge;
  }
}

h2 {
  font-family: $header-font-family;
  font-size: $size-large;
  line-height: 1;
}

h3 {
  font-family: $body-font-family;
  font-size: $size-medium;
  line-height: 1;
}

h4 {
  font-family: $header-font-family;
  font-size: $size-base;
  line-height: 1;
}

h5 {
  font-family: $header-font-family;
  font-size: $size-small;
  line-height: 1;
}

h6 {
  font-family: $header-font-family;
  font-size: $size-xsmall;
  line-height: 1;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

// Text field with button
.input-component {
  max-width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 0.2rem;
  
  @media screen and (min-width: $screen-medium) {
    justify-content: flex-end;

  }
  
  button {
    background-color: $primarybutton;
    border: 0;
    padding: 0.4rem 0.8rem;
    font-size: 1.2rem;
    font-variant: small-caps;
    letter-spacing: 2px;
    border-radius: 0 3px 3px 0;
  }

  input {
    border: 0;
    background-color: $neutral-superlight;
    border-radius: 3px 0 0 3px;
    flex: 0 1 200px;
    font-size: 1.3rem;
    min-width: 0px;
    padding: 0.6rem;
  }
}

.icon-search,
.icon-shopping-cart {
  width: 30px;
  height: auto;
  
  .primary {
    fill: $primarybutton;
  }
  
  .secondary {
    fill: $neutral-dark;
  }
}

.icon-shopping-cart {
  width: 20px;
  height: auto;

  .primary {
    fill: $neutral-light;
  }

  .secondary {
    fill: $neutral-medium;
  }
}
