html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $body-font-family;
  font-style: normal;
}

body {
  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  border-bottom: solid 1px $color-secondary_2;
}

p {
  font-size: $size-base;
}

h1 {
  //font-family: proxima-nova, sans-serif;
  //font-weight: 700;
  //font-style: normal;
  font-family: $header-font-family;
  font-size: $size-xlarge;
  line-height: 1;
}

h2 {
  font-family: $header-font-family;
  font-size: $size-large;
  line-height: 1;
}

h3 {
  font-family: $header-font-family;
  font-size: $size-medium;
  line-height: 1;
}

h4 {
  font-family: $header-font-family;
  font-size: $size-base;
  line-height: 1;
}

h5 {
  font-family: $header-font-family;
  font-size: $size-small;
  line-height: 1;
}

h6 {
  font-family: $header-font-family;
  font-size: $size-xsmall;
  line-height: 1;
}

.input-component {
  
}