.grid-container {
	// border: 1px solid pink;
	min-height: 100%;
  padding: 0;
}

main {

}

footer {
	margin-top: auto;
}

.grid-x {
	
}

.wrapper-category {
	// border: 1px solid blue;
	display: flex;
	flex-direction: column;
	padding: 0 1rem;

	.category-products {
		flex: 1 1 70%;
		// border: 1px solid silver;
		margin-right: 2rem;
	}

	.category-desc {
		flex: 1 1 30%;
	}

	@media screen and (min-width: $screen-large) {
		flex-direction: row;
	}
}